In [2]:
!pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Collecting yfinance
  Downloading yfinance-0.2.38-py2.py3-none-any.whl.metadata (11 kB)
Collecting pandas>=1.3.0 (from yfinance)
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.16.5 (from yfinance)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     ------------------- ------------------ 30.7/61.0 kB 435.7 kB/s eta 0:00:01
     ------------------------------- ------ 51.2/61.0 kB 327.7 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 406.4 kB/s eta 0:00:00
Collecting requests>=2.31 (from yfinance)
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Collecting lxml>=4.9.1 (from yfinance)
  Downloading lxml-5.2.1-cp312-cp312-win_amd64.whl.metadata (3.5 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)
Collecting pytz>=2022.5 (from yfinance)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.2.tar.gz (315 kB)
     ---------------------------------------- 0.0/315.3 kB ? eta -:--:--
     - -------------------------------------- 10.2/315.3 kB ? eta -:--:--
     ---- -------------------------------- 41.0/315.3 kB 653.6 kB/s eta 0:00:01
     ---------- -------------------------- 92.2/315.3 kB 751.6 kB/s eta 0:00:01
     -------------- --------------------- 122.9/315.3 kB 804.6 kB/s eta 0:00:01
     ------------------- ---------------- 174.1/315.3 kB 876.1 kB/s eta 0:00:01
     -------------------------- --------- 235.5/315.3 kB 901.1 kB/s eta 0:00:01
     -------------------------------- --- 286.7/315.3 kB 930.9 kB/s eta 0:00:01
     ------------------------------------ 315.3/315.3 kB 929.9 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: still running...
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: still running...
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.3.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
      --------------------------------------- 0.0/3.0 MB 991.0 kB/s eta 0:00:03
     - -------------------------------------- 0.1/3.0 MB 1.3 MB/s eta 0:00:03
     -- ------------------------------------- 0.2/3.0 MB 1.5 MB/s eta 0:00:02
     --- ------------------------------------ 0.3/3.0 MB 1.4 MB/s eta 0:00:02
     ---- ----------------------------------- 0.3/3.0 MB 1.6 MB/s eta 0:00:02
     ----- ---------------------------------- 0.4/3.0 MB 1.6 MB/s eta 0:00:02
     ------ --------------------------------- 0.5/3.0 MB 1.6 MB/s eta 0:00:02
     -------- ------------------------------- 0.6/3.0 MB 1.7 MB/s eta 0:00:02
     -------- ------------------------------- 0.6/3.0 MB 1.7 MB/s eta 0:00:02
     ---------- ----------------------------- 0.7/3.0 MB 1.6 MB/s eta 0:00:02
     ----------- ---------------------------- 0.9/3.0 MB 1.7 MB/s eta 0:00:02
     ------------- -------------------------- 1.0/3.0 MB 1.7 MB/s eta 0:00:02
     -------------- ------------------------- 1.1/3.0 MB 1.8 MB/s eta 0:00:02
     ---------------- ----------------------- 1.2/3.0 MB 1.8 MB/s eta 0:00:01
     ----------------- ---------------------- 1.3/3.0 MB 1.9 MB/s eta 0:00:01
     ------------------- -------------------- 1.5/3.0 MB 2.0 MB/s eta 0:00:01
     --------------------- ------------------ 1.6/3.0 MB 2.0 MB/s eta 0:00:01
     ----------------------- ---------------- 1.8/3.0 MB 2.1 MB/s eta 0:00:01
     ------------------------- -------------- 1.9/3.0 MB 2.2 MB/s eta 0:00:01
     ---------------------------- ----------- 2.1/3.0 MB 2.3 MB/s eta 0:00:01
     ------------------------------ --------- 2.3/3.0 MB 2.3 MB/s eta 0:00:01
     --------------------------------- ------ 2.5/3.0 MB 2.4 MB/s eta 0:00:01
     ------------------------------------ --- 2.7/3.0 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------  2.9/3.0 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 2.6 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: still running...
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting beautifulsoup4>=4.11.1 (from yfinance)
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Collecting soupsieve>1.2 (from beautifulsoup4>=4.11.1->yfinance)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: six>=1.9 in c:\users\than aung kyaw\appdata\roaming\python\python312\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Collecting webencodings (from html5lib>=1.1->yfinance)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\than aung kyaw\appdata\roaming\python\python312\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Collecting tzdata>=2022.7 (from pandas>=1.3.0->yfinance)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting charset-normalizer<4,>=2 (from requests>=2.31->yfinance)
  Downloading charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests>=2.31->yfinance)
  Downloading idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.31->yfinance)
  Downloading urllib3-2.2.1-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests>=2.31->yfinance)
  Downloading certifi-2024.2.2-py3-none-any.whl.metadata (2.2 kB)
Downloading yfinance-0.2.38-py2.py3-none-any.whl (72 kB)
   ---------------------------------------- 0.0/73.0 kB ? eta -:--:--
   ---------------- ----------------------- 30.7/73.0 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------  71.7/73.0 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 73.0/73.0 kB 1.0 MB/s eta 0:00:00
Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ---------------------------------------- 0.0/147.9 kB ? eta -:--:--
   ---------- ---------------------------- 41.0/147.9 kB 991.0 kB/s eta 0:00:01
   ------------------ -------------------- 71.7/147.9 kB 991.0 kB/s eta 0:00:01
   --------------------------------- ------ 122.9/147.9 kB 1.0 MB/s eta 0:00:01
   -------------------------------------- 147.9/147.9 kB 976.5 kB/s eta 0:00:00
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   -------------- ------------------------ 41.0/112.2 kB 991.0 kB/s eta 0:00:01
   ------------------------------------ --- 102.4/112.2 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 112.2/112.2 kB 1.1 MB/s eta 0:00:00
Downloading lxml-5.2.1-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
    --------------------------------------- 0.1/3.8 MB 1.1 MB/s eta 0:00:04
   - -------------------------------------- 0.1/3.8 MB 1.3 MB/s eta 0:00:03
   - -------------------------------------- 0.2/3.8 MB 1.3 MB/s eta 0:00:03
   -- ------------------------------------- 0.2/3.8 MB 1.3 MB/s eta 0:00:03
   --- ------------------------------------ 0.3/3.8 MB 1.4 MB/s eta 0:00:03
   ---- ----------------------------------- 0.4/3.8 MB 1.4 MB/s eta 0:00:03
   ---- ----------------------------------- 0.5/3.8 MB 1.5 MB/s eta 0:00:03
   ----- ---------------------------------- 0.6/3.8 MB 1.5 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 1.6 MB/s eta 0:00:03
   ------- -------------------------------- 0.7/3.8 MB 1.6 MB/s eta 0:00:02
   -------- ------------------------------- 0.8/3.8 MB 1.6 MB/s eta 0:00:02
   --------- ------------------------------ 0.9/3.8 MB 1.7 MB/s eta 0:00:02
   ---------- ----------------------------- 1.0/3.8 MB 1.7 MB/s eta 0:00:02
   ----------- ---------------------------- 1.1/3.8 MB 1.7 MB/s eta 0:00:02
   ------------ --------------------------- 1.2/3.8 MB 1.8 MB/s eta 0:00:02
   -------------- ------------------------- 1.3/3.8 MB 1.8 MB/s eta 0:00:02
   --------------- ------------------------ 1.5/3.8 MB 1.9 MB/s eta 0:00:02
   ---------------- ----------------------- 1.6/3.8 MB 1.9 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.8 MB 1.9 MB/s eta 0:00:02
   ------------------- -------------------- 1.9/3.8 MB 2.0 MB/s eta 0:00:01
   --------------------- ------------------ 2.0/3.8 MB 2.1 MB/s eta 0:00:01
   ----------------------- ---------------- 2.2/3.8 MB 2.2 MB/s eta 0:00:01
   ------------------------- -------------- 2.4/3.8 MB 2.2 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 2.3 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 2.4 MB/s eta 0:00:01
   ------------------------------- -------- 3.0/3.8 MB 2.5 MB/s eta 0:00:01
   --------------------------------- ------ 3.2/3.8 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 2.8 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
    --------------------------------------- 0.2/15.5 MB 6.7 MB/s eta 0:00:03
   - -------------------------------------- 0.5/15.5 MB 6.7 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/15.5 MB 6.6 MB/s eta 0:00:03
   -- ------------------------------------- 1.2/15.5 MB 6.7 MB/s eta 0:00:03
   --- ------------------------------------ 1.5/15.5 MB 6.6 MB/s eta 0:00:03
   ---- ----------------------------------- 1.7/15.5 MB 6.8 MB/s eta 0:00:03
   ----- ---------------------------------- 2.1/15.5 MB 6.7 MB/s eta 0:00:02
   ----- ---------------------------------- 2.3/15.5 MB 6.8 MB/s eta 0:00:02
   ------- -------------------------------- 2.8/15.5 MB 7.0 MB/s eta 0:00:02
   -------- ------------------------------- 3.3/15.5 MB 7.2 MB/s eta 0:00:02
   -------- ------------------------------- 3.5/15.5 MB 6.9 MB/s eta 0:00:02
   --------- ------------------------------ 3.7/15.5 MB 7.1 MB/s eta 0:00:02
   ----------- ---------------------------- 4.3/15.5 MB 7.3 MB/s eta 0:00:02
   ----------- ---------------------------- 4.6/15.5 MB 7.2 MB/s eta 0:00:02
   ------------ --------------------------- 4.8/15.5 MB 7.2 MB/s eta 0:00:02
   ------------- -------------------------- 5.2/15.5 MB 7.2 MB/s eta 0:00:02
   ------------- -------------------------- 5.4/15.5 MB 6.9 MB/s eta 0:00:02
   --------------- ------------------------ 6.0/15.5 MB 7.3 MB/s eta 0:00:02
   --------------- ------------------------ 6.2/15.5 MB 7.3 MB/s eta 0:00:02
   ----------------- ---------------------- 6.6/15.5 MB 7.2 MB/s eta 0:00:02
   ----------------- ---------------------- 6.9/15.5 MB 7.2 MB/s eta 0:00:02
   ------------------ --------------------- 7.3/15.5 MB 7.2 MB/s eta 0:00:02
   ------------------- -------------------- 7.5/15.5 MB 7.2 MB/s eta 0:00:02
   -------------------- ------------------- 8.0/15.5 MB 7.2 MB/s eta 0:00:02
   --------------------- ------------------ 8.4/15.5 MB 7.3 MB/s eta 0:00:01
   ---------------------- ----------------- 8.9/15.5 MB 7.4 MB/s eta 0:00:01
   ----------------------- ---------------- 9.2/15.5 MB 7.5 MB/s eta 0:00:01
   ------------------------ --------------- 9.6/15.5 MB 7.4 MB/s eta 0:00:01
   ------------------------- -------------- 10.0/15.5 MB 7.5 MB/s eta 0:00:01
   -------------------------- ------------- 10.1/15.5 MB 7.4 MB/s eta 0:00:01
   -------------------------- ------------- 10.4/15.5 MB 7.4 MB/s eta 0:00:01
   ---------------------------- ----------- 10.9/15.5 MB 7.5 MB/s eta 0:00:01
   ----------------------------- ---------- 11.3/15.5 MB 7.6 MB/s eta 0:00:01
   ----------------------------- ---------- 11.5/15.5 MB 7.6 MB/s eta 0:00:01
   ------------------------------ --------- 11.7/15.5 MB 7.3 MB/s eta 0:00:01
   ------------------------------ --------- 11.8/15.5 MB 7.3 MB/s eta 0:00:01
   ------------------------------ --------- 11.8/15.5 MB 7.3 MB/s eta 0:00:01
   ------------------------------- -------- 12.1/15.5 MB 6.8 MB/s eta 0:00:01
   -------------------------------- ------- 12.5/15.5 MB 7.1 MB/s eta 0:00:01
   -------------------------------- ------- 12.8/15.5 MB 6.9 MB/s eta 0:00:01
   ---------------------------------- ----- 13.3/15.5 MB 7.0 MB/s eta 0:00:01
   ----------------------------------- ---- 13.6/15.5 MB 7.1 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.5 MB 7.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.4/15.5 MB 7.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.4/15.5 MB 7.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.7/15.5 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.5 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 7.0 MB/s eta 0:00:00
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.5 MB 9.8 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/11.5 MB 9.4 MB/s eta 0:00:02
   ---- ----------------------------------- 1.3/11.5 MB 7.5 MB/s eta 0:00:02
   ------- -------------------------------- 2.1/11.5 MB 8.9 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/11.5 MB 9.3 MB/s eta 0:00:01
   ---------- ----------------------------- 3.1/11.5 MB 9.3 MB/s eta 0:00:01
   ----------- ---------------------------- 3.2/11.5 MB 9.3 MB/s eta 0:00:01
   ------------- -------------------------- 3.8/11.5 MB 8.9 MB/s eta 0:00:01
   -------------- ------------------------- 4.3/11.5 MB 9.2 MB/s eta 0:00:01
   ---------------- ----------------------- 4.6/11.5 MB 9.2 MB/s eta 0:00:01
   ---------------- ----------------------- 4.8/11.5 MB 8.5 MB/s eta 0:00:01
   ------------------ --------------------- 5.3/11.5 MB 8.9 MB/s eta 0:00:01
   ------------------ --------------------- 5.3/11.5 MB 8.9 MB/s eta 0:00:01
   ------------------ --------------------- 5.3/11.5 MB 8.9 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 8.3 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 7.9 MB/s eta 0:00:01
   ---------------------- ----------------- 6.6/11.5 MB 7.9 MB/s eta 0:00:01
   ------------------------- -------------- 7.4/11.5 MB 8.3 MB/s eta 0:00:01
   ------------------------- -------------- 7.4/11.5 MB 8.3 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.5 MB 8.1 MB/s eta 0:00:01
   ---------------------------- ----------- 8.3/11.5 MB 8.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 8.0 MB/s eta 0:00:01
   ------------------------------- -------- 9.0/11.5 MB 8.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.5/11.5 MB 8.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.5 MB 8.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.4/11.5 MB 8.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.5 MB 8.1 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.5 MB 8.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 8.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 8.2 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ------------------------------- -------- 399.4/505.5 kB 8.3 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 8.0 MB/s eta 0:00:00
Downloading requests-2.31.0-py3-none-any.whl (62 kB)
   ---------------------------------------- 0.0/62.6 kB ? eta -:--:--
   ---------------------------------------- 62.6/62.6 kB ? eta 0:00:00
Downloading certifi-2024.2.2-py3-none-any.whl (163 kB)
   ---------------------------------------- 0.0/163.8 kB ? eta -:--:--
   ---------------------------------------- 163.8/163.8 kB 9.6 MB/s eta 0:00:00
Downloading charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl (100 kB)
   ---------------------------------------- 0.0/100.4 kB ? eta -:--:--
   ---------------------------------------- 100.4/100.4 kB 5.6 MB/s eta 0:00:00
Downloading idna-3.7-py3-none-any.whl (66 kB)
   ---------------------------------------- 0.0/66.8 kB ? eta -:--:--
   ---------------------------------------- 66.8/66.8 kB 1.8 MB/s eta 0:00:00
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------  337.9/345.4 kB 10.6 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 7.1 MB/s eta 0:00:00
Downloading urllib3-2.2.1-py3-none-any.whl (121 kB)
   ---------------------------------------- 0.0/121.1 kB ? eta -:--:--
   ------------------------------------- -- 112.6/121.1 kB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 121.1/121.1 kB 2.4 MB/s eta 0:00:00
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Building wheels for collected packages: frozendict, peewee
  Building wheel for frozendict (pyproject.toml): started
  Building wheel for frozendict (pyproject.toml): finished with status 'done'
  Created wheel for frozendict: filename=frozendict-2.4.2-cp312-cp312-win_amd64.whl size=15543 sha256=5c9d16caf50fbd925f852b62ffb03a986c16fcd10f3728a30d41b0d93f16fe84
  Stored in directory: c:\users\than aung kyaw\appdata\local\pip\cache\wheels\27\ad\d9\1c34a1bc48bf0fc4aee0887230b95ac6329426bffd89d5b6ac
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.3-py3-none-any.whl size=138453 sha256=3a35fcb500189e22af6586fd51fd7968d6dc2b3f233e49435b00e10c59d1f1f4
  Stored in directory: c:\users\than aung kyaw\appdata\local\pip\cache\wheels\39\c7\dd\909d267742f7fbb941ff081dacd661f622a0b4eb38f667b84b
Successfully built frozendict peewee
Installing collected packages: webencodings, pytz, peewee, multitasking, appdirs, urllib3, tzdata, soupsieve, numpy, lxml, idna, html5lib, frozendict, charset-normalizer, certifi, requests, pandas, beautifulsoup4, yfinance
Successfully installed appdirs-1.4.4 beautifulsoup4-4.12.3 certifi-2024.2.2 charset-normalizer-3.3.2 frozendict-2.4.2 html5lib-1.1 idna-3.7 lxml-5.2.1 multitasking-0.0.11 numpy-1.26.4 pandas-2.2.2 peewee-3.17.3 pytz-2024.1 requests-2.31.0 soupsieve-2.5 tzdata-2024.1 urllib3-2.2.1 webencodings-0.5.1 yfinance-0.2.38

In [3]:
import yfinance as yf
import pandas as pd

In [4]:
data = yf.download('AAPL',start='2010-01-01')

[*********************100%%**********************]  1 of 1 completed

In [5]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.470740,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481928,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378826,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409361,447610800
...,...,...,...,...,...,...
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50558300
2024-04-26,169.869995,171.339996,169.190002,169.300003,169.300003,44456222

In [6]:
# Simple time series - always pick adj close

data['factor'] = ((data['Adj Close'] / data['Close']))

In [7]:
data.loc['2023-01-01':]

,Open,High,Low,Close,Adj Close,Volume,factor
Date,,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216309,112117500,0.993174
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600,0.993174
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166641,80962700,0.993174
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735245,87754700,0.993174
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800,0.993174
...,...,...,...,...,...,...,...
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50558300,1.000000
2024-04-26,169.869995,171.339996,169.190002,169.300003,169.300003,44456222,1.000000

In [8]:
# Series data
data['Adj Close']

Date
2010-01-04      6.470740
2010-01-05      6.481928
2010-01-06      6.378826
2010-01-07      6.367033
2010-01-08      6.409361
                 ...
2024-04-22    165.839996
2024-04-23    166.899994
2024-04-24    169.020004
2024-04-25    169.889999
2024-04-26    169.300003
Name: Adj Close, Length: 3603, dtype: float64

In [9]:
# A dataframe
data[['Adj Close']]

             Adj Close
Date
2010-01-04    6.470740
2010-01-05    6.481928
2010-01-06    6.378826
2010-01-07    6.367033
2010-01-08    6.409361
...                ...
2024-04-22  165.839996
2024-04-23  166.899994
2024-04-24  169.020004
2024-04-25  169.889999
2024-04-26  169.300003

[3603 rows x 1 columns]

In [10]:
apl_close = data[['Adj Close']]

In [11]:
apl_close.shift(1)
# shifting the data values by 1 row down

             Adj Close
Date
2010-01-04         NaN
2010-01-05    6.470740
2010-01-06    6.481928
2010-01-07    6.378826
2010-01-08    6.367033
...                ...
2024-04-22  165.000000
2024-04-23  165.839996
2024-04-24  166.899994
2024-04-25  169.020004
2024-04-26  169.889999

[3603 rows x 1 columns]

In [12]:
apl_close.shift(-1)
# shifting the values from one row up

             Adj Close
Date
2010-01-04    6.481928
2010-01-05    6.378826
2010-01-06    6.367033
2010-01-07    6.409361
2010-01-08    6.352823
...                ...
2024-04-22  166.899994
2024-04-23  169.020004
2024-04-24  169.889999
2024-04-25  169.300003
2024-04-26         NaN

[3603 rows x 1 columns]

- Shifting is a good use for daily changes for stock prices.

In [13]:
data['return'] = ((apl_close / apl_close.shift(1))) - 1

In [14]:
data

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.470740,493729600,0.846599,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481928,601904800,0.846599,0.001729
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378826,552160000,0.846600,-0.015906
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200,0.846600,-0.001849
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409361,447610800,0.846599,0.006648
...,...,...,...,...,...,...,...,...
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000,0.005091
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000,0.006392
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000,0.012702
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50558300,1.000000,0.005147
2024-04-26,169.869995,171.339996,169.190002,169.300003,169.300003,44456222,1.000000,-0.003473

In [15]:
data['return'] = data['Adj Close'].pct_change()

In [16]:
data

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.470740,493729600,0.846599,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481928,601904800,0.846599,0.001729
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378826,552160000,0.846600,-0.015906
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200,0.846600,-0.001849
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409361,447610800,0.846599,0.006648
...,...,...,...,...,...,...,...,...
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000,0.005091
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000,0.006392
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000,0.012702
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50558300,1.000000,0.005147
2024-04-26,169.869995,171.339996,169.190002,169.300003,169.300003,44456222,1.000000,-0.003473

In [17]:
data.isnull().sum()
# The first value of return is NA.

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
factor       0
return       1
dtype: int64

In [19]:
data['Open'].diff()
# data[index+1] - data[index]

Date
2010-01-04         NaN
2010-01-05    0.041786
2010-01-06   -0.007857
2010-01-07   -0.093929
2010-01-08   -0.051786
                ...
2024-04-22   -0.690002
2024-04-23   -0.169998
2024-04-24    1.189987
2024-04-25    2.990005
2024-04-26    0.339996
Name: Open, Length: 3603, dtype: float64

In [20]:
open_diff = data['Open'].diff()

In [21]:
open_diff

Date
2010-01-04         NaN
2010-01-05    0.041786
2010-01-06   -0.007857
2010-01-07   -0.093929
2010-01-08   -0.051786
                ...
2024-04-22   -0.690002
2024-04-23   -0.169998
2024-04-24    1.189987
2024-04-25    2.990005
2024-04-26    0.339996
Name: Open, Length: 3603, dtype: float64

In [23]:
open_diff.dropna(inplace=True)

In [24]:
open_diff

Date
2010-01-05    0.041786
2010-01-06   -0.007857
2010-01-07   -0.093929
2010-01-08   -0.051786
2010-01-11    0.089286
                ...
2024-04-22   -0.690002
2024-04-23   -0.169998
2024-04-24    1.189987
2024-04-25    2.990005
2024-04-26    0.339996
Name: Open, Length: 3602, dtype: float64

In [28]:
# rolling function rolls over a number of rows to calculate
# ten day moving average example

data['Close'].rolling(10).mean().dropna()

# data.Close.iloc[:10].sum()/10
# data.Close.iloc[1:11].sum()/10 and so on

Date
2010-01-15      7.520571
2010-01-19      7.524250
2010-01-20      7.514786
2010-01-21      7.504428
2010-01-22      7.458607
                 ...
2024-04-22    169.698999
2024-04-23    169.421999
2024-04-24    169.545999
2024-04-25    169.031000
2024-04-26    168.306000
Name: Close, Length: 3594, dtype: float64

In [29]:
# Axis arguments
data

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.470740,493729600,0.846599,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481928,601904800,0.846599,0.001729
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378826,552160000,0.846600,-0.015906
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200,0.846600,-0.001849
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409361,447610800,0.846599,0.006648
...,...,...,...,...,...,...,...,...
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000,0.005091
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000,0.006392
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000,0.012702
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50558300,1.000000,0.005147
2024-04-26,169.869995,171.339996,169.190002,169.300003,169.300003,44456222,1.000000,-0.003473

In [30]:
# axis argument determines dropping the whole row 
# or whole column with na value 0 for row, 1 for column
data.dropna(axis=0)

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481928,601904800,0.846599,0.001729
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378826,552160000,0.846600,-0.015906
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200,0.846600,-0.001849
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409361,447610800,0.846599,0.006648
2010-01-11,7.600000,7.607143,7.444643,7.503929,6.352823,462229600,0.846600,-0.008821
...,...,...,...,...,...,...,...,...
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000,0.005091
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000,0.006392
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000,0.012702
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50558300,1.000000,0.005147
2024-04-26,169.869995,171.339996,169.190002,169.300003,169.300003,44456222,1.000000,-0.003473

In [31]:
# shifting the values by column
data.shift(1,axis=1)

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-04,NaN,7.622500,7.660714,7.585000,7.643214,6.470740,493729600,0.846599
2010-01-05,NaN,7.664286,7.699643,7.616071,7.656429,6.481928,601904800,0.846599
2010-01-06,NaN,7.656429,7.686786,7.526786,7.534643,6.378826,552160000,0.846600
2010-01-07,NaN,7.562500,7.571429,7.466071,7.520714,6.367033,477131200,0.846600
2010-01-08,NaN,7.510714,7.571429,7.466429,7.570714,6.409361,447610800,0.846599
...,...,...,...,...,...,...,...,...
2024-04-22,NaN,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000
2024-04-23,NaN,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000
2024-04-24,NaN,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000
2024-04-25,NaN,169.529999,170.610001,168.149994,169.889999,169.889999,50558300,1.000000
2024-04-26,NaN,169.869995,171.339996,169.190002,169.300003,169.300003,44456222,1.000000

In [32]:
data['Close'].nlargest(5)

Date
2023-12-14    198.110001
2023-12-13    197.960007
2023-12-15    197.570007
2023-12-19    196.940002
2023-07-31    196.449997
Name: Close, dtype: float64

In [33]:
data.nlargest(3,'Close')

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2023-12-14,198.020004,199.619995,196.160004,198.110001,197.857529,66831600,0.998726,0.000758
2023-12-13,195.089996,198.000000,194.850006,197.960007,197.707718,70404200,0.998726,0.016691
2023-12-15,197.529999,198.399994,197.000000,197.570007,197.318222,128256700,0.998726,-0.002726

In [35]:
data['Close'].nsmallest(5)

Date
2010-02-04    6.858929
2010-01-29    6.859286
2010-02-08    6.932857
2010-02-01    6.954643
2010-02-10    6.968571
Name: Close, dtype: float64

In [36]:
data.nsmallest(3,'Close')

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-02-04,7.026071,7.084643,6.841786,6.858929,5.806765,757652000,0.846599,-0.036039
2010-01-29,7.181429,7.221429,6.794643,6.859286,5.807068,1245952400,0.846599,-0.036279
2010-02-08,6.988929,7.067143,6.928571,6.932857,5.869354,478270800,0.846600,-0.006855

In [41]:
# resampling data
# works on date indices
# 'M' is deprecated
data.resample('ME').sum()

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-31,142.099288,143.332858,139.311073,140.949642,119.327891,15168994400,16.085390,-0.103156
2010-02-28,134.419642,136.023216,133.218928,134.897143,114.203853,10776080000,16.085390,0.065297
2010-03-31,183.011787,184.558929,181.769999,183.516071,155.364614,12154172800,19.471788,0.140356
2010-04-30,188.251070,189.852498,186.089999,188.361429,159.466689,12367129600,17.778589,0.109044
2010-05-31,179.985357,182.584289,174.873570,179.615357,152.062271,18082654800,16.931990,-0.008306
...,...,...,...,...,...,...,...,...
2023-12-31,3884.199997,3906.189987,3857.779984,3886.170029,3881.217484,1062774800,19.974512,0.014275
2024-01-31,3939.539993,3968.979996,3908.089996,3942.209961,3937.185974,1187219300,20.973237,-0.040802
2024-02-29,3693.360001,3720.860001,3660.620010,3695.510010,3694.073242,1161627000,19.992354,-0.018130
2024-03-31,3455.779999,3486.389999,3425.249969,3453.929993,3453.929993,1432782800,20.000000,-0.050185
2024-04-30,3385.839981,3417.409973,3362.770035,3387.469986,3387.469986,1111230622,20.000000,-0.010956

In [43]:
data.resample('ME').sum()[['Volume']]

                 Volume
Date
2010-01-31  15168994400
2010-02-28  10776080000
2010-03-31  12154172800
2010-04-30  12367129600
2010-05-31  18082654800
...                 ...
2023-12-31   1062774800
2024-01-31   1187219300
2024-02-29   1161627000
2024-03-31   1432782800
2024-04-30   1111230622

[172 rows x 1 columns]

In [46]:
data.loc[:'2015-01-31']['Volume'].sum()

578349046800

In [57]:
# Starting from 2015 to latest and get the max value of High column for each row
data.loc['2015-01-01':].resample('ME').max()['High']

Date
2015-01-31     30.000000
2015-02-28     33.400002
2015-03-31     32.570000
2015-04-30     33.634998
2015-05-31     33.242500
                 ...
2023-12-31    199.619995
2024-01-31    196.380005
2024-02-29    191.050003
2024-03-31    180.529999
2024-04-30    178.360001
Freq: ME, Name: High, Length: 112, dtype: float64

In [59]:
# Resampling OHLC data on a monthly basis
data

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.470740,493729600,0.846599,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481928,601904800,0.846599,0.001729
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378826,552160000,0.846600,-0.015906
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200,0.846600,-0.001849
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409361,447610800,0.846599,0.006648
...,...,...,...,...,...,...,...,...
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000,0.005091
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000,0.006392
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000,0.012702
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50558300,1.000000,0.005147
2024-04-26,169.869995,171.339996,169.190002,169.300003,169.300003,44456222,1.000000,-0.003473

In [60]:
data.resample('ME').agg({
    'Open':'first',
    'High':'max',
    'Low':'min',
    'Close':'last'
})

                  Open        High         Low       Close
Date
2010-01-31    7.622500    7.699643    6.794643    6.859286
2010-02-28    6.870357    7.327500    6.816071    7.307857
2010-03-31    7.348214    8.481429    7.337500    8.392857
2010-04-30    8.478929    9.730714    8.312500    9.324643
2010-05-31    9.422857    9.567143    7.116071    9.174286
...                ...         ...         ...         ...
2023-12-31  190.330002  199.619995  187.449997  192.529999
2024-01-31  187.149994  196.380005  180.169998  184.399994
2024-02-29  183.990005  191.050003  179.250000  180.750000
2024-03-31  179.550003  180.529999  168.490005  171.479996
2024-04-30  171.190002  178.360001  164.080002  169.300003

[172 rows x 4 columns]

In [61]:
# data from 2015
data['2015-01-01':].resample('ME').agg({
    'Open':'first',
    'High':'max',
    'Low':'min',
    'Close':'last'
})

                  Open        High         Low       Close
Date
2015-01-31   27.847500   30.000000   26.157499   29.290001
2015-02-28   29.512501   33.400002   29.020000   32.115002
2015-03-31   32.312500   32.570000   30.407499   31.107500
2015-04-30   31.205000   33.634998   30.775000   31.287500
2015-05-31   31.525000   33.242500   30.840000   32.570000
...                ...         ...         ...         ...
2023-12-31  190.330002  199.619995  187.449997  192.529999
2024-01-31  187.149994  196.380005  180.169998  184.399994
2024-02-29  183.990005  191.050003  179.250000  180.750000
2024-03-31  179.550003  180.529999  168.490005  171.479996
2024-04-30  171.190002  178.360001  164.080002  169.300003

[112 rows x 4 columns]