In [4]:
# !pip install yfinance

In [1]:
import yfinance as yf
import pandas as pd

In [3]:
data = yf.download('AAPL',start='2010-01-01')

[*********************100%%**********************]  1 of 1 completed

In [4]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.470740,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481927,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378823,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409363,447610800
...,...,...,...,...,...,...
2024-04-19,166.210007,166.399994,164.080002,165.000000,165.000000,67772100
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50398300

In [5]:
# Simple time series - always pick adj close

data['factor'] = ((data['Adj Close'] / data['Close']))

In [6]:
data.loc['2023-01-01':]

,Open,High,Low,Close,Adj Close,Volume,factor
Date,,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216301,112117500,0.993174
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600,0.993174
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166649,80962700,0.993174
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735229,87754700,0.993174
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261597,70790800,0.993174
...,...,...,...,...,...,...,...
2024-04-19,166.210007,166.399994,164.080002,165.000000,165.000000,67772100,1.000000
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50398300,1.000000

In [7]:
# Series data
data['Adj Close']

Date
2010-01-04      6.470740
2010-01-05      6.481927
2010-01-06      6.378823
2010-01-07      6.367033
2010-01-08      6.409363
                 ...
2024-04-19    165.000000
2024-04-22    165.839996
2024-04-23    166.899994
2024-04-24    169.020004
2024-04-25    169.889999
Name: Adj Close, Length: 3602, dtype: float64

In [8]:
# A dataframe
data[['Adj Close']]

             Adj Close
Date
2010-01-04    6.470740
2010-01-05    6.481927
2010-01-06    6.378823
2010-01-07    6.367033
2010-01-08    6.409363
...                ...
2024-04-19  165.000000
2024-04-22  165.839996
2024-04-23  166.899994
2024-04-24  169.020004
2024-04-25  169.889999

[3602 rows x 1 columns]

In [9]:
apl_close = data[['Adj Close']]

In [10]:
apl_close.shift(1)
# shifting the data values by 1 row down

             Adj Close
Date
2010-01-04         NaN
2010-01-05    6.470740
2010-01-06    6.481927
2010-01-07    6.378823
2010-01-08    6.367033
...                ...
2024-04-19  167.039993
2024-04-22  165.000000
2024-04-23  165.839996
2024-04-24  166.899994
2024-04-25  169.020004

[3602 rows x 1 columns]

In [11]:
apl_close.shift(-1)
# shifting the values from one row up

             Adj Close
Date
2010-01-04    6.481927
2010-01-05    6.378823
2010-01-06    6.367033
2010-01-07    6.409363
2010-01-08    6.352822
...                ...
2024-04-19  165.839996
2024-04-22  166.899994
2024-04-23  169.020004
2024-04-24  169.889999
2024-04-25         NaN

[3602 rows x 1 columns]

- Shifting is a good use for daily changes for stock prices.

In [12]:
data['return'] = ((apl_close / apl_close.shift(1))) - 1

In [13]:
data

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.470740,493729600,0.846599,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481927,601904800,0.846599,0.001729
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378823,552160000,0.846599,-0.015906
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200,0.846599,-0.001848
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409363,447610800,0.846600,0.006648
...,...,...,...,...,...,...,...,...
2024-04-19,166.210007,166.399994,164.080002,165.000000,165.000000,67772100,1.000000,-0.012213
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000,0.005091
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000,0.006392
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000,0.012702
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50398300,1.000000,0.005147

In [14]:
data['return'] = data['Adj Close'].pct_change()

In [15]:
data

,Open,High,Low,Close,Adj Close,Volume,factor,return
Date,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.470740,493729600,0.846599,NaN
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.481927,601904800,0.846599,0.001729
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.378823,552160000,0.846599,-0.015906
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.367033,477131200,0.846599,-0.001848
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.409363,447610800,0.846600,0.006648
...,...,...,...,...,...,...,...,...
2024-04-19,166.210007,166.399994,164.080002,165.000000,165.000000,67772100,1.000000,-0.012213
2024-04-22,165.520004,167.259995,164.770004,165.839996,165.839996,48116400,1.000000,0.005091
2024-04-23,165.350006,167.050003,164.919998,166.899994,166.899994,49537800,1.000000,0.006392
2024-04-24,166.539993,169.300003,166.210007,169.020004,169.020004,48251800,1.000000,0.012702
2024-04-25,169.529999,170.610001,168.149994,169.889999,169.889999,50398300,1.000000,0.005147