### Social Buzz
#### An analysis of their content categories that highlights the top 5 categories with the largest aggregate popularity

##### Tasks

- Clean the data by:
removing rows that have values which are missing,
changing the data type of some values within a column, and
removing columns which are not relevant to this task.
Think about how each column might be relevant to the business question you’re investigating. If you can’t think of why a column may be useful, it may not be worth including it.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
reactions_df = pd.read_csv(r'Reactions.csv')
content_df = pd.read_csv(r'Content.csv')
reactionType_df = pd.read_csv(r'ReactionTypes.csv')

In [3]:
reactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [5]:
reactions_df.head(2)

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50

In [6]:
reactions_df.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [35]:
reactions_new = reactions_df.dropna()

In [36]:
reactions_new = reactions_new.drop(columns=['Unnamed: 0', 'Datetime'])

In [37]:
reactions_new.isnull().sum()

Content ID    0
User ID       0
Type          0
dtype: int64

In [38]:
reactions_new.head(2)

,Content ID,User ID,Type
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike

In [11]:
content_df.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [12]:
content_df.head(2)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...

In [19]:
content_new = content_df.drop(columns=['Unnamed: 0','URL'])

In [20]:
content_new.isnull().sum()

Content ID    0
User ID       0
Type          0
Category      0
dtype: int64

In [27]:
content_new.head(2)

,Content ID,User ID,Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating

In [22]:
reactionType_df.isnull().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [25]:
reactionType_new = reactionType_df.drop(columns=['Unnamed: 0','Sentiment'])

In [26]:
reactionType_new.head(2)

    Type  Score
0  heart     60
1   want     70